<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lawrencium.basil" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/basil_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Act_BudgetBuddy"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Act_Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Act_BudgetManagerMain"
            android:label="@string/title_activity_budget_manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_TabsPage"
            android:label="@string/title_activity_tabs" >
        </activity>
        <activity
            android:name=".Act_LoginPage"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Act_IouPage"
            android:label="IOU" >
        </activity>
        <activity
            android:name=".Act_RequestPage"
            android:label="Confirm Request" >
        </activity>
        <activity
            android:name=".Act_PayPage"
            android:label="Confirm Payment" >
        </activity>
        <activity
            android:name=".Act_SignInPage"
            android:label="Log In" >
        </activity>
        <activity
            android:name=".Act_EqualSplitPage"
            android:label="Equal Split" >
        </activity>
        <activity
            android:name=".Act_EqualSplitPeoplePage"
            android:label="Select Users" >
        </activity>
        <activity
            android:name=".Act_EqualSplitConfirmPage"
            android:label="Confirm Equal Split" >
        </activity>
        <activity
            android:name=".Act_TabVault"
            android:label="Tab Vault" >
        </activity>
        <activity
            android:name=".Act_CustomSplitPage"
            android:label="Custom Split" >
        </activity>
        <activity
            android:name=".Act_CustomSplitPeoplePage"
            android:label="Manage Transactions" >
        </activity>
        <activity
            android:name=".Act_CustomSplitConfirmPage"
            android:label="Confirm Custom Split" >
        </activity>
        <activity
            android:name=".Act_BudgetOverview"
            android:label="@string/title_activity_budget_overview" >
        </activity>
        <activity
            android:name=".Act_NewTransaction"
            android:label="@string/title_activity_new_transaction" >
        </activity>
        <activity
            android:name=".Act_NewCategory"
            android:label="@string/title_activity_new_category" >
        </activity>
        <activity
            android:name=".Act_CategoryView"
            android:label="@string/title_activity_act__category_view" >
        </activity>
        <activity
            android:name=".Act_TransactionConfirm"
            android:label="@string/title_activity_act__transaction_confirm" >
        </activity>
        <activity
            android:name=".Act_OverviewSettings"
            android:label="@string/title_activity_act__overview_settings" >
        </activity>
    </application>

</manifest>
