<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lawrencium.basil" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/basil_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Act_BudgetBuddy"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Act_BudgetManagerMain"
            android:label="@string/title_activity_budget_manager" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Act_BudgetBuddy" />
        </activity>
        <activity
            android:name=".Act_TabsPage"
            android:label="@string/title_activity_tabs" >
        </activity>
        <activity
            android:name=".Act_LoginPage"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Act_IouPage"
            android:label="IOU" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Act_TabsPage" />
        </activity>
        <activity
            android:name=".Act_RequestPage"
            android:label="Confirm Request" >
        </activity>
        <activity
            android:name=".Act_PayPage"
            android:label="Confirm Payment" >
        </activity>
        <activity
            android:name=".Act_SignInPage"
            android:label="Log In" >
        </activity>
        <activity
            android:name=".Act_EqualSplitPage"
            android:label="Equal Split" >
        </activity>
        <activity
            android:name=".Act_EqualSplitPeoplePage"
            android:label="Select Users" >
        </activity>
        <activity
            android:name=".Act_EqualSplitConfirmPage"
            android:label="Confirm Equal Split" >
        </activity>
        <activity
            android:name=".Act_TabVault"
            android:label="Tab Vault" >
        </activity>
        <activity
            android:name=".Act_CustomSplitPage"
            android:label="Custom Split" >
        </activity>
        <activity
            android:name=".Act_CustomSplitPeoplePage"
            android:label="Manage Transactions" >
        </activity>
        <activity
            android:name=".Act_CustomSplitConfirmPage"
            android:label="Confirm Custom Split" >
        </activity>
        <activity
            android:name=".Act_BudgetOverview"
            android:label="@string/title_activity_budget_overview" >
        </activity>
        <activity
            android:name=".Act_NewTransaction"
            android:label="@string/title_activity_new_transaction" >
        </activity>
        <activity
            android:name=".Act_NewCategory"
            android:label="@string/title_activity_new_category"
            android:theme="@android:style/Theme.Holo.Light.Dialog" >
        </activity>
        <activity
            android:name=".Act_CategoryView"
            android:label="@string/title_activity_act__category_view" >
        </activity>
        <activity
            android:name=".Act_TransactionConfirm"
            android:label="@string/title_activity_act__transaction_confirm" >
        </activity>
        <activity
            android:name=".Act_OverviewSettings"
            android:label="@string/title_activity_act__overview_settings" >
        </activity>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.lawrencium.basil" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />
        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmReceiver" />

        <activity
            android:name=".Act_FriendsPage"
            android:label="@string/title_activity_act__friends_page" >
        </activity>

        <activity
            android:name=".NotificationActivity"
            android:taskAffinity=""
            android:excludeFromRecents="true">
        </activity>

    </application>

</manifest>
